*.swp
*.pyc
*.pkl
*.pt
*.py~
*.bak
*.mp4
*.sublime-project
*.sublime-workspace
*.pdf
*.npz
*.pth
*.egg-info
*.lprof
*.prof

.pytest_cache
.cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
.ipynb_checkpoints
.idea
.pytype/

__pycache__/
_build/

eval.csv
train.csv

git_rewrite_commit_history.sh
d:/
outputs/
video_kit/
Clips/
tb/
logs/
exp/
test_scripts/*
figure/
data/
server_data/

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv

ghostdriver.log
htmlcov
junk
src
figures

run_local.sh
